<!DOCTYPE html>
<html>
<head>
    <title>Project Tracker</title>
    <style>
        #progress-bar {
            background-color: #4CAF50;
            width: {{progress}};
            height: 30px;
            color: white;
            text-align: center;
            line-height: 30px;
        }
        .column {
            float: left;
            width: 30%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid black; /* Add a border to the columns */
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        #create-task-form {
            display: none;
        }
        /* Add a style for the task list */
        .task-list {
            list-style-type: disc;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <h1>{{projectTitle}}</h1>

    <button id="create-task-button">Create Task</button>

    <form id="create-task-form">
        <label for="task-name">Task Name:</label><br>
        <input type="text" id="task-name" name="task-name"><br>
        <label for="assignee">Assign to:</label><br>
        <input type="text" id="assignee" name="assignee"><br>
        <input type="submit" value="Create Task">
    </form>

    <div id="progress-bar">{{progress}}%</div>

    <div class="row">
        <div class="column">
            <h2>Unassigned</h2>
            <ul class="task-list">
                {{#each tasks.unassigned}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="column">
            <h2>Assigned</h2>
            <ul class="task-list">
                {{#each tasks.assigned}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="column">
            <h2>Completed</h2>
            <ul class="task-list">
                {{#each tasks.completed}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>Comments</h2>
    {{#each comments}}
        <p>{{this}}</p>
    {{/each}}
</body>
</html>
